body {
    margin: 0; /* Remove default margin */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #D9B88F; /* Updated background color */
    color: #403D1A; /* Updated text color */
}
