.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #404040; /* Brighter text color */
    background-color: #FFFFFF; /* Brighter background color */
    line-height: 1.5;
    margin: 0;
    padding: 0;    
}

.header {
    background-color: #595959; /* Brighter background color */
    color: white;
    padding: 1rem;
    text-align: center;    
}

.main {
    flex: 1;
    padding: 1rem;
    background-color: #FFFFFF; /* Brighter background color */    
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Arial', sans-serif; /* Set font family */
    font-weight: bold; /* Set font weight */
    text-transform: uppercase; /* Set text to uppercase */
    letter-spacing: 0.1rem; /* Set letter spacing */
    font-size: 0.75rem; /* Make the footer text size smaller */
}

.layout h1, .layout h2, .layout h3, .layout h4, .layout h5, .layout h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 1em 0 0.5em;
    line-height: 1.2;
}

/* Media query for mobile devices */
/* @media (max-width: 600px) {
    .layout .main {
        padding: 0;
    }
} */

