.navbar {
    background-color: #3F1D14; /* Brighter background color */
    padding: 0.25rem; /* Further reduced padding */
    display: flex;
    flex-direction: column; /* Stack logo and links vertically */
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem; /* Further increased gap to keep more distance */
    margin: 0.5rem 0;
    justify-content: center; /* Center the nav links */
    padding: 0; /* Remove default padding */
}

.navbar li {
    color: white;
    font-size: 0.875rem; /* Make the nav links text smaller */
    font-family: 'Arial', sans-serif; /* Set font family */
    font-weight: bold; /* Set font weight */
    text-transform: uppercase; /* Set text to uppercase */
    letter-spacing: 0.1rem; /* Set letter spacing */
}

.navbar a {
    color: white;
    text-decoration: none; /* Remove underline from links */
}

.navbar .logo {
    color: white;
    font-size: 1rem; /* Further reduced font size */
    font-weight: bold;
}

.navbar .logo img {
    height: 96px; /* Fix logo height */
    border-radius: 5px;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .navbar {
        padding: 0.5rem;
    }

    .navbar ul {        
        gap: 1rem;
    }

    .navbar li {
        font-size: 0.75rem;
    }

    .navbar .logo img {
        height: 48px; /* Reduce logo height by half */
    }
}
