.container {
    max-width: 1024px; /* Set maximum width */
    margin: 0 auto;    
    background-color: #FFFFFF; /* Brighter background color */    
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #404040; /* Brighter text color */
}

@media (min-width: 1024px) {
    .container {
        min-width: 700px;
        max-width: 50%; /* Set to half of the screen width */
    }
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #404040; /* Brighter text color */
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #595959; /* Brighter text color */
    margin-bottom: 1rem;
}

.introduction {
    font-size: 1.2em;
    color: #595959; /* Brighter text color */
    margin-bottom: 40px; /* Increase space under the introduction */
}

.reviewList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviewItem {
    padding: 20px;
    border-radius: 8px;
    background-color: #FFFFFF; /* Brighter background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.reviewTitle {
    font-size: 1.5em;
    color: #404040; /* Brighter text color */
    margin-bottom: 10px;
}

.reviewContent {
    font-size: 1em;
    color: #595959; /* Brighter text color */
    margin-bottom: 20px; /* Add space between product description and reviews */    
}

.productReviews {
    margin-top: 10px;
}

.productReview {
    margin-bottom: 10px;    
}

.displayName {
    font-style: italic; /* Set display name to italic */
    font-weight: normal; /* Set display name to regular (not bold) */
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    gap: 10px; /* Add some space between the name and the avatar */
}

.buyButton {
    display: inline-block;
    padding: 10px 40px; /* Make the button longer */
    border: 2px solid #3F1D14; /* Updated border color */
    color: #3F1D14; /* Updated text color */
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.buyButton:hover {
    background-color: #3F1D14; /* Updated background color */
    color: white;
    transition: 0.3s ease-in-out;
}

.reviewItem h2 {
    margin-bottom: 0.5rem;
}

.reviewItem p {
    margin: 0;
}

.responsiveImage {
    width: 100%;
    height: auto;
}

.coverPhoto {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px; /* Add curved border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    max-height: 800px;
    object-fit: cover;
}

.reviewer {
  padding-top: 15px;
}

.avatar {
    width: 64px;
    height: 64px; /* Ensure the height is also set */
    border-radius: 50%; /* Make the avatar circular */    
}

.socialShare {
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 20px; /* Add gap between share buttons */
    margin-top: 20px; /* Add margin to the top of the share buttons */
}

.readMore {
    margin-top: 40px;
}

.readMoreList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .readMoreList {
        grid-template-columns: repeat(2, 1fr);
    }
}

.readMoreItem {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.readMoreItem h3 {
    margin-top: 0;
}

.readMoreItem h4 {
    margin-bottom: 10px;
}

.readMoreItem p {
    margin-bottom: 0;
}

.readMoreItem .coverPhoto {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.readMoreItem .reviewTitleLink {
    text-decoration: none;
    color: inherit;
}

.editButton {
  padding: 10px 20px;
  background-color: white; /* Reverse background color */
  color: #3F1D14; /* Reverse text color */
  border: 1px solid #3F1D14; /* Add border */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.editButton:hover {
  background-color: #f0f0f0; /* Lighter shade for hover */
}

.amazonImage {
    display: block;
    width: 90%;
    height: auto;
    margin: 20px auto;
}

@media (min-width: 768px) {
    .amazonImage {
        width: 66%;
        margin: 40px auto;
    }
}

.amazonDisclosure {
    color: gray;
    font-size: 0.85rem;    
    font-weight: normal;
}

.smallButton {
    padding: 7px 15px; /* Smaller padding for a compact button */
    font-size: 12px; /* Smaller font size */
    border-radius: 4px; /* Slightly rounded corners */
    text-transform: uppercase; /* Keep text uppercase */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
}

.smallButton:hover {
    background-color: #3F1D14; /* Match hover background color */
    color: white; /* Match hover text color */
    transition: 0.3s ease-in-out; /* Smooth transition */
}

.comparisonTable {
    margin: 15px -10px 30px -10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    border: 1px solid #ddd; /* Add a light border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Add padding inside the container */
    background-color: #f9f9f9; /* Light background color */
}

.comparisonTable table {
    width: 100%; /* Make the table take full width */
    border-collapse: collapse; /* Remove gaps between table cells */
}

.comparisonTable th, .comparisonTable td {
    padding: 10px; /* Add padding to table cells */
    text-align: left; /* Align text to the left */
    border: 1px solid #ddd; /* Add a border to table cells */
}

.comparisonTable th {
    background-color: #f1f1f1; /* Light gray background for headers */
    font-weight: bold; /* Make header text bold */
    min-width: 200px; /* Set a minimum width for table headers */
    text-align: center; /* Center-align text in table headers */
}

.comparisonTable th:first-child {
    min-width: 150px; /* Set the first header to 100px */
}

@media (max-width: 768px) {
    .comparisonTable th:first-child {
        min-width: 100px; /* Adjust the first header width for mobile */
    }
}

.comparisonTable img {
    max-width: 100px; /* Limit the width of images */
    max-height: 300px;
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}
