.container {
    max-width: 1024px; /* Set maximum width */
    margin: 0 auto;
    padding: 20px;
    background-color: #F2E2CE; /* Updated background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #402924; /* Updated text color */
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #402924; /* Updated text color */
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 600;
    color: #733C30; /* Updated text color */
    margin-bottom: 1rem;
}

.introduction {
    font-size: 1.2em;
    color: #733C30; /* Updated text color */
    margin-bottom: 20px;
}

.reviewList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviewItem {
    padding: 20px;
    border: 1px solid #A68160; /* Updated border color */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.reviewTitle {
    font-size: 1.5em;
    color: #402924; /* Updated text color */
    margin-bottom: 10px;
}

.reviewContent {
    font-size: 1em;
    color: #733C30; /* Updated text color */
}

.buyButton {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #733C30; /* Updated border color */
    color: #733C30; /* Updated text color */
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.buyButton:hover {
    background-color: #733C30; /* Updated background color */
    color: white;
    transition: 0.3s ease-in-out;
}

.reviewItem h2 {
    margin-bottom: 0.5rem;
}

.reviewItem p {
    margin: 0;
}
