.container {
    max-width: 1024px; /* Set maximum width */
    margin: 0 auto;    
    background-color: #FFFFFF; /* Brighter background color */    
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #404040; /* Brighter text color */
}

@media (min-width: 1024px) {
    .container {
        max-width: 60%; /* Set to half of the screen width */
    }
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #404040; /* Brighter text color */
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 600;
    color: #595959; /* Brighter text color */
    margin-bottom: 1rem;
}

.introduction {
    font-size: 1.2em;
    color: #595959; /* Brighter text color */
    margin-bottom: 20px;
}

.reviewList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviewItem {
    padding: 20px;
    border-radius: 8px;
    background-color: #FFFFFF; /* Brighter background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.reviewTitle {
    font-size: 1.5em;
    color: #404040; /* Brighter text color */
    margin-bottom: 10px;
}

.reviewContent {
    font-size: 1em;
    color: #595959; /* Brighter text color */
    margin-bottom: 20px; /* Add space between product description and reviews */
}

.productReviews {
    margin-top: 10px;
}

.productReview {
    margin-bottom: 10px;
}

.displayName {
    font-style: italic; /* Set display name to italic */
    font-weight: normal; /* Set display name to regular (not bold) */
}

.buyButton {
    display: inline-block;
    padding: 10px 40px; /* Make the button longer */
    border: 2px solid #3F1D14; /* Updated border color */
    color: #3F1D14; /* Updated text color */
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.buyButton:hover {
    background-color: #3F1D14; /* Updated background color */
    color: white;
    transition: 0.3s ease-in-out;
}

.reviewItem h2 {
    margin-bottom: 0.5rem;
}

.reviewItem p {
    margin: 0;
}
